<% if (!('attributes' in button)) { %>
  <% button.attributes = []; %>
<% } %>
<% if (!('disabled' in button)) { %>
  <% button.disabled = false; %>
<% } %>
<% if (!('color' in button)) { %>
  <% button.color = 'light'; %>
<% } %>
<% if (!('prepare' in button)) { %>
  <% button.prepare = null; %>
<% } %>

<button class="js-remote-button btn m-1 d-inline-flex align-items-center justify-content-center
  <%- 'btn-' + button.color %>
  <%- (button.attributes.includes('rounded-circle')) ? 'rounded-circle p-0' : 'py-3' %>
  <%- (button.attributes.includes('rounded')) ? 'rounded-pill' : '' %>
  <%- (button.attributes.includes('fill')) ? 'flex-fill' : '' %>
  <%- (button.attributes.includes('strong')) ? 'font-weight-bold h3' : '' %>
  <%- (button.disabled) ? 'disabled' : '' %>
" type="button" data-codename="<%- button.name %>"
  data-prepare-command="<%- (button.prepare) ? button.prepare.command : '' %>"
  data-prepare-name="<%- (button.prepare) ? button.prepare.name : '' %>"
  data-prepare-value="<%- (button.prepare && button.prepare.value !== undefined) ? button.prepare.value : '' %>"
<%- (button.disabled) ? 'disabled' : '' %>
>
  <%- (button.attributes.includes('small')) ? '<small class="d-inline-flex flex-column align-items-center">' : '' %>
    <%- button.caption %>
  <%- (button.attributes.includes('small')) ? '</small>' : '' %>
</button>
